* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url('/img/dungeon.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}


.topnav {
    background-color: rgba(0, 0, 0, 0.35);
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background: rgba(35, 58, 58, 0.58);
    color: rgba(242, 242, 242, 0.65);
    box-shadow: 0 0 30px 5px rgba(35, 58, 58, 0.58);
}

.topnav a.active {
    background-color: rgba(47, 79, 79, 0.41);
    color: white;
}



.game-container {
    background: rgba(0,0,0,.8);
    box-shadow: 0 15px 25px rgba(47, 79, 79);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border-radius: 10px;
    padding: 2rem;
    margin: 9rem 4rem;
    width: 40%;
    position: center;
}

#question{
    text-align: center;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 19px;
    letter-spacing: 0.2px;
    word-spacing: 3px;
    color: #ffffff;
    font-weight: 400;
    font-style: normal;
    font-variant: small-caps;
    text-transform: none;
}

#result{
    text-align: center;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 19px;
    letter-spacing: 0.2px;
    word-spacing: 2.6px;
    color: #ffffff;
    font-weight: 400;
    font-style: normal;
    font-variant: small-caps;
    text-transform: none;
}

#options {
    margin: 20px 0;
}

#options div {
    position: center;
    cursor: pointer;
    background-color: #333;
    width: 40%;
    padding: 10px;
    margin-bottom: 5px;
    margin-left: 170px;
    border-radius: 5px;
    color: #ffffff;
}

#options div:hover {
    background-color: rgba(0, 128, 128, 0.3);
}

button {
    display: block;
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 140px;
    border: none;
    background-color: rgba(0, 128, 128, 0.49);
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: rgba(1, 94, 94, 0.55);
}

#exit {
    display: block;
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 140px;
    border: none;
    background-color: rgba(217, 83, 79, 0.73);
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

#exit:hover {
    background-color: rgba(201, 48, 44, 0.68);
}