* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url('/img/dungeon.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}


.topnav {
    background-color: rgba(0, 0, 0, 0.35);
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background: rgba(35, 58, 58, 0.58);
    color: rgba(242, 242, 242, 0.65);
    box-shadow: 0 0 30px 5px rgba(35, 58, 58, 0.58);
}

.topnav a.active {
    background-color: rgba(47, 79, 79, 0.41);
    color: white;
}




.container {
    display: flex;
    flex-wrap: wrap;
    background: rgba(0, 0, 0, 0.41);
    box-shadow: 0 15px 25px rgba(47, 79, 79, 0.59);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border-radius: 10px;
    padding: 2rem;
    width: 60%;
    height: 100%;
    margin: 50px auto;
}

.box {
    border: 2px solid rgba(0, 0, 0, 0.6);
    margin: 10px;
    flex: 1 1 45%; /* Занимает 45% родителя и немного гибкий */
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(7px);
    border-radius: 10px;
    padding: 2rem;
    width: 40%;
}

h2 {
    text-align: center;
    color: #e7e7e0;
    letter-spacing: 0.2px;
    word-spacing: 2.6px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
}

h3 {
    text-align: center;
    color: #e7e7e0;
    letter-spacing: 0.2px;
    word-spacing: 2.6px;
    background-color: rgba(1, 1, 1, 0.55);
    font-family: Arial, Helvetica, sans-serif;
}

p {
    text-align: center;
    color: #e7e7e0;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    letter-spacing: 0.2px;
    word-spacing: 2.6px;
}

#instructions, #decryptionInput {
    align-items: flex-start;
}

#passwordInput, #finalInput {
    align-items: flex-end;
}

input[type=text] {
    width: 60%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin: 15px auto;
}

.timer {
    position: absolute;
    top: 5px;
    right: 10px;
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
    margin: auto;
}

button {
    display: block;
    width: 40%;
    padding: 8px;
    border: none;
    background-color: rgba(0, 128, 128, 0.38);
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px auto;
}

button:hover {
    background-color: rgba(1, 94, 94, 0.49);
}