* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url('/img/dungeon.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}


.topnav {
    background-color: rgba(0, 0, 0, 0.35);
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background: rgba(35, 58, 58, 0.58);
    color: rgba(242, 242, 242, 0.65);
    box-shadow: 0 0 30px 5px rgba(35, 58, 58, 0.58);
}

.topnav a.active {
    background-color: rgba(47, 79, 79, 0.41);
    color: white;
}