* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url('/img/dungeon.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: scroll; /* На всякий случай, чтобы вертикальный скролл всегда был видимым */
}
::-webkit-scrollbar {
    width: 1px;
    background: #233a3a;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #233a3a;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #233a3a;
}

.topnav {
    background-color: #000000;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #2F4F4F;
    color: black;
}

.topnav a.active {
    background-color: #2F4F4F;
    color: white;
}



.container {
    display: flex;
    width: 90%;
    margin: 0 auto;
    padding: 0 15px;
}

.card {
    background: rgba(0,0,0,.8);
    box-shadow: 0 15px 25px rgba(47, 79, 79);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(7px);
    border-radius: 10px;
    padding: 14rem;
    margin: 1rem;
    width: 100%;
}

.title {
    text-align: center;
    margin: 5rem auto;
    color: #fff;
}

.toptext{
    text-align: center;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 19px;
    letter-spacing: 0.2px;
    word-spacing: 2.6px;
    color: #ffffff;
    font-weight: 400;
    text-decoration: overline solid rgb(255, 255, 255);
    font-style: normal;
    font-variant: small-caps;
    text-transform: none;
}

.text{
    width: 100%;
    padding-top: 20px;
    padding-left: 200px;
    padding-right: 200px;

}

p{
    text-align: justify;
    color: #ffffff;
    padding-top: 10px;
    text-indent: 20px;
    margin-top: 10px; /* Отступ сверху */
    margin-bottom: 2px; /* Отступ снизу */
}


.done{
    display: flex;
    width: 90%;
    margin: 30px;
    padding-left: 700px;
}

button {
    position: relative;
    padding: 10px 20px;
    border-radius: 7px;
    border: 1px solid rgb(0, 128, 128);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    background: transparent;
    color: #fff;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    margin-right: 10px; /* Отступ между кнопками */
}

button:hover {
    background: rgb(0, 128, 128);
    box-shadow: 0 0 30px 5px rgba(0, 139, 139, 0.815);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

button:hover::before {
    -webkit-animation: sh02 0.5s 0s linear;
    -moz-animation: sh02 0.5s 0s linear;
    animation: sh02 0.5s 0s linear;
}

button::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #fff;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
}

@keyframes sh02 {
    from {
        opacity: 0;
        left: 0%;
    }

    50% {
        opacity: 1;
    }

    to {
        opacity: 0;
        left: 100%;
    }
}

button:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
}