* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url('/img/dungeon.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}


.topnav {
    background-color: rgba(0, 0, 0, 0.35);
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background: rgba(35, 58, 58, 0.58);
    color: rgba(242, 242, 242, 0.65);
    box-shadow: 0 0 30px 5px rgba(35, 58, 58, 0.58);
}

.topnav a.active {
    background-color: rgba(47, 79, 79, 0.41);
    color: white;
}



.container {
    display: flex;
    padding: 0 15px;
    overflow-x: auto; /* Enables horizontal scrolling if content overflows */
    overflow-y: hidden; /* Prevents vertical scrolling */
    white-space: nowrap; /* Ensures content flows horizontally */
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none;
}

.container::-webkit-scrollbar {
    width: 0px; /* For Webkit browsers like Chrome and Safari */
    height: 0px; /* Hides horizontal scrollbar if not needed */
    display: none; /* For WebKit browsers */
}

.title {
    width: 100%;
    display: inline-block;
    word-break: break-all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    margin: 5rem auto;
    color: #fff;
    background-color: rgba(1, 1, 1, 0.38);
}

.card {
    background-color: rgba(0,0,0,.8);
    box-shadow: 0 15px 25px rgba(47, 79, 79);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border-radius: 10px;
    padding: 9rem;
    margin: 9rem 4rem;
    width: 100%;
}

.card1 {
    background-color: rgba(0,0,0,.8);
    box-shadow: 0 15px 25px rgba(47, 79, 79);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border-radius: 10px;
    padding: 9rem;
    margin: 9rem 4rem;
    width: 100%;
    background-image: url("../img/магия.jpeg");
    background-size: cover;
}

.card2 {
    background-color: rgba(0,0,0,.8);
    box-shadow: 0 15px 25px rgba(47, 79, 79);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border-radius: 10px;
    padding: 9rem;
    margin: 9rem 4rem;
    width: 100%;
    background-image: url("../img/меч.jpeg");
    background-size: cover;
}

.card3 {
    background-color: rgba(0,0,0,.8);
    box-shadow: 0 15px 25px rgba(47, 79, 79);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border-radius: 10px;
    padding: 9rem;
    margin: 9rem 4rem;
    width: 100%;
    background-image: url("../img/книга.jpeg");
    background-size: cover;
}

.card4 {
    background-color: rgba(0,0,0,.8);
    box-shadow: 0 15px 25px rgba(47, 79, 79);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border-radius: 10px;
    padding: 9rem;
    margin: 9rem 4rem;
    width: 100%;
    background-image: url("../img/душа.jpeg");
    background-size: cover;
}

.card5 {
    background-color: rgba(0,0,0,.8);
    box-shadow: 0 15px 25px rgba(47, 79, 79);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border-radius: 10px;
    padding: 9rem;
    margin: 9rem 4rem;
    width: 100%;
    background-image: url("../img/душа2.jpeg");
    background-size: cover;
}

.card6 {
    background-color: rgba(0,0,0,.8);
    box-shadow: 0 15px 25px rgba(47, 79, 79);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border-radius: 10px;
    padding: 9rem;
    margin: 9rem 4rem;
    width: 100%;
    background-image: url("../img/скоро.jpeg");
    background-size: cover;
}


