* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url('/img/dungeon.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}


.topnav {
    background-color: #000000;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #2F4F4F;
    color: black;
}

.topnav a.active {
    background-color: #2F4F4F;
    color: white;
}


.container {
    overflow: hidden;
    display: flex;
    scroll-snap-type: x mandatory;
    width: 90%;
    margin: 0 auto;
    padding: 0 15px;
}



.card {
    background: rgba(0,0,0,.8);
    box-shadow: 0 15px 25px rgba(47, 79, 79);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border-radius: 10px;
    padding: 10rem;
    margin: 5rem;
    width: 100%;
}

.title {
    width: 100%;
    display: inline-block;
    word-break: break-all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    margin: 5rem auto;
    color: #fff;
}